{% extends 'base.html' %}

{% block content %}
<div class="bg-white rounded-xl">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Categories</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      {% for category in categories %}
      <a href="{% url 'category_detail' category.slug %}" class="group">

        <h2>{{ category.name }}</h2>
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="h-full w-full object-cover object-center group-hover:opacity-75" style="height: 300px; width: 300px;">
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
